<table class="sample_table">
    <thead>
    <tr>
        <th>
            Client Name
        </th>
        <th>
            Sample
        </th>
        <th>
            Units
        </th>
    </tr>
    </thead>

{% for sample in object_list %}
    <tr>
        <td>
            {{ sample.client_id.full_name }}</td>
        <td>
            {{ sample.result }}</td>
        <td>
            {{ sample.unit }}</td>
    </tr>
{% endfor %}

</table>

{% if is_paginated %}
    {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
            <span>{{ i }} (current)</span>
        {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
{% endif %}